<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Detalhes da Compra</title>
        <link rel="stylesheet" href="/estilo1.css"> <!-- Adicionando o arquivo CSS externo -->
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../../static/img/logomarca.jpg" alt="Logomarca da Empresa" style="width: 4cm; height: 3cm;">
            </div>
            <h1>VENDA FÁCIL - Venda de produtos diversos</h1>
        </header>

        <nav class="menu">
            <a href="/index.html">Home</a>
            <a th:href="@{/pessoaFisica/form}">Cadastrar Cliente PF</a>
            <a th:href="@{/pessoaJuridica/form}">Cadastrar Cliente PJ</a>
            <a th:href="@{/produto/form}">Cadastrar Produto</a>
            <a th:href="@{/pessoaFisica/list}">Clientes PF Cadastrados</a>
            <a th:href="@{/pessoaJuridica/list}">Clientes PJ Cadastrados</a>
            <a th:href="@{/produto/list}">Produtos Cadastrados</a>
            <a th:href="@{/venda/list}">Vendas Realizadas</a>
        </nav>
        <br>
        <h1><b>Relatório das vendas realizadas</b></h1>
<!--        <div class="menu">
            <a th:href="@{/produto/list}">Home</a>
        </div> -->
        <br>
        <table class="table" border="1">
            <thead>
            <tr>
                <th> Venda ID</th>
                <th>Nome do Cliente</th>
                <th>Data da Compra</th>
                <th>Valor Total (R$)</th>
                <th colspan="2">Ações</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterando através da lista de vendas -->
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}"></td>
                <td th:text="${venda.pessoa.nome}"></td>
                <td th:text="${venda.data}"></td>
                <td th:text="${venda.totalVenda()}"></td>
                <td> <a th:href="@{/venda/detail/{id}(id=${venda.id})}">Detalhar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir esta ' +
                 'venda?')"  th:href="@{/venda/remove/{id}(id=${venda.id})}">Excluir</a> </td>
            </tr>
        </tbody>
    </table>
    <footer>
            <p>&copy; 2024 VENDA FÁCIL - Empresa de Venda de Produtos. Todos os direitos reservados.</p>
    </footer>
    </body>
</html>
